*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas{
    max-width: 500px;
    height: 95vh;
    display: none;
    font-family: 'Creepster', sans-serif;
}

#startButton{
    padding: 20px 60px;
    margin-top: 20px;
    border: none;
    background-color: rgb(240, 115, 136);
    color: white;
    font-size: 24px;
}